
<h1>Show Parts</h1>

<p>
	<strong>Part Number: </strong> <%= @part.part_number %>
</p>

<h4>Parts</h4>

<% @part.assemblies.each do |assembly| %>
  <%= assembly.name %><br>
<% end %>

<p><%= link_to 'Assign_assembly', edit_part_path(@part) %></p>


<div><%= link_to 'Back', parts_path, style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>
<hr>