
<h1>Show Accounts History</h1>

<p>
	<strong>Acoount History: </strong> <%= @account_history.credit_rating %>
</p>


<div><%= link_to 'Back', account_histories_path, style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>
<hr>