
<h1>Show Suppliers</h1>

<p>
	<strong>Name: </strong> <%= @supplier.name %>
</p>


<div><%= link_to 'Back', suppliers_path, style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>
<hr>