
<h1>Show Accounts</h1>

<p>
	<strong>Account Number: </strong> <%= @account.account_number %>
</p>


<div><%= link_to 'Back', accounts_path, style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>
<hr>